doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/app.css')
    script= loggedIn
  body
    div(id='app')
    script(src='/vendor.bundle.js')
    script(src='/app.bundle.js')
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-129356129-1')
    script= 'window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);} gtag(\'js\', new Date());gtag(\'config\', \'UA-129356129-1\');'
